.recomended-flex{
    display: flex;
    margin-left: 20rem;
}
.recomended-title{
margin-left: 20rem;
margin-bottom: 20px;
margin-top: 20px;
font-size: 20px;
font-family:sans-serif;
}
.btns{
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border: 0.6px solid rgb(101, 101, 102);
    border-radius: 5px;
    color: rgb(156, 154, 154);
    cursor: pointer;
}